@using AlloyDemoKit
@using SmartCrop
@model PageViewModel<ArticlePage>

@{ Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml"; }

<h1 @Html.EditAttributes(x => x.CurrentPage.PageName)>@Model.CurrentPage.PageName</h1>
<p class="introduction" @Html.EditAttributes(x => x.CurrentPage.MetaDescription)>@Model.CurrentPage.MetaDescription</p>

<h1>Original</h1>
@Html.PropertyFor(m => m.CurrentPage.Image)

<h1>300x300</h1>
@Html.ResizedPicture(Model.CurrentPage.Image, 300, 300, false)<br /><br />
@Html.ResizedPicture(Model.CurrentPage.Image, 300, 300, true)<br /><br />

<h1>300x600</h1>
@Html.ResizedPicture(Model.CurrentPage.Image, 300, 600, false)<br /><br />
@Html.ResizedPicture(Model.CurrentPage.Image, 300, 600, true)<br /><br />


<h1>600x300</h1>
@Html.ResizedPicture(Model.CurrentPage.Image, 600, 300, false)<br /><br />
@Html.ResizedPicture(Model.CurrentPage.Image, 600, 300, true)<br /><br />

<h1>600x200</h1>
@Html.ResizedPicture(Model.CurrentPage.Image, 600, 200, false)<br /><br />
@Html.ResizedPicture(Model.CurrentPage.Image, 600, 200, true)<br /><br />

<h1>200x600</h1>
@Html.ResizedPicture(Model.CurrentPage.Image, 200, 600, false)<br /><br />
@Html.ResizedPicture(Model.CurrentPage.Image, 200, 600, true)<br /><br />






<div class="row">
    <div class="span8 clearfix" @Html.EditAttributes(x => x.CurrentPage.MainBody)>
        @Html.DisplayFor(m => m.CurrentPage.MainBody)
    </div>
</div>
@Html.PropertyFor(x => x.CurrentPage.MainContentArea, new { CssClass = "row", Tag = Global.ContentAreaTags.TwoThirdsWidth })
