@using System.Web.Mvc.Html
@using System.Web.Razor.Generator
@using EPiServer
@using EPiServer.Shell

<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <link href="@Paths.ToShellClientResource("ClientResources/epi/themes/legacy/ShellCore.css")" rel="stylesheet" type="text/css">
    <link href="@Paths.ToShellClientResource("ClientResources/epi/themes/legacy/ShellCoreLightTheme.css")" rel="stylesheet" type="text/css">
    <link href="@UriSupport.ResolveUrlFromUIBySettings("App_Themes/Default/Styles/system.css")">
    <link href="@UriSupport.ResolveUrlFromUIBySettings("App_Themes/Default/Styles/ToolButton.css")">
</head>
<body id="body">
<div class="epi-contentContainer epi-padding">
    <div class="epi-contentArea">
        <h1 class="EP-prefix">Siteimprove</h1>
    </div>
    <div id="FullRegion_MainRegion_TabView" class="epi-paddingVertical">
        <div id="innerBody">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</div>
</body>
</html>